
.postDisplay {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

}
.postDisplay:hover {
  background-color: #f2f2f2
  

}

.photoPost {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:20px;
}



