.card {
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 20px 30px !important;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 10px;
    height: 90vh;
    width: 90vw;
  }
  .loginContent {
    display: block !important;
}
}
.panelInterior {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.loginContent {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 20px; */
}
.content {
  flex-grow: 1;
}
.toRight {
  display: flex;
  justify-content: flex-end;
}

.toRight {
  display: flex;
  justify-content: flex-start;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.bp3-button-group.bp3-vertical.bp3-fill {
  height: auto !important;
  padding: 20px;
}

.customFooter {
  display: flex;
}
.skip {
  flex-grow: 1;
}

.callOut {
  margin-top: 15px;
}
