
.splash {
    background-color: #F4F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?travel,culture");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    width: 500px;
    height: 350px;
    margin: auto;
    padding: 50px;

}

.panelInterior {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex-grow: 1;
}
.toRight {
    display: flex;
    justify-content: flex-end;

}



