
.card {
    width: 500px;
    height: 350px;
    margin: auto;
    padding: 50px;

}

.panelInterior {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.loginContent {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.content {
    flex-grow: 1
}
.toRight {
    display: flex;
    justify-content: flex-end;

}
.bp3-button-group.bp3-vertical.bp3-fill {
    height: auto !important;
    padding: 20px;
}